body{
    background-color: rgb(49, 161, 68);

}
h1{
    text-align: center;
    color: rgb(0, 0, 0);

}
h2{
    text-align: center;
    color: rgb(0, 0, 0);
}
h3{
    text-align: center;
    color: rgb(0, 0, 0);
}
h4{
    text-align: center;
    color: rgb(0, 0, 0);
}
h5{
    text-align: center;
    color: rgb(0, 0, 0);
}
h6{
    text-align: center;
    color: black;
    font-size: 15px;
}
header{
    background-color: rgb(255, 246, 246)
}
.pagina1{
    overflow: auto;
    text-align: center;
}
.header{
    height: 150px;
    position: relative;
    text-align: center;

}
header img{
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
#bois1{
    display: block;
    float: left;
    margin-right: 50px;
   }
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    display: inline-block;
    margin-right: 80px;
}
.pagina2{
    padding: 0px;
    width: 350px;
    height: 230px;
    box-sizing: border-box;
    display: flex;
}
#bois2{
    width: 30%;
    height: 100%;
    object-fit: cover;
}
p{
    text-align: center;
}
p{
    text-align:center;
}
.boismarrom-img{
width:400px;
height: 350px;
border: 5px solid rgb(255, 255, 255);
margin-right: 5%;
}
.boipreto-img{
    width:400px;
    height: 350px;
    border: 5px solid rgb(255, 255, 255);
}
.boibranco-img{
    width:400px;
    height: 350px;
    border: 5px solid rgb(255, 255, 255);
    margin-left: 5%;
}
.boicomchifre-img{
    width:400px;
    height: 350px;
    border: 5px solid rgb(255, 255, 255);

}
.boibranco2-img{
    width:400px;
    height: 350px;
    border: 5px solid rgb(255, 255, 255);
}

.image-conteiner{
display: flex;
justify-content: center;
gap: 20px;
margin: 20px 0;
}
.mensagem1 {
    display: none; /* Inicialmente oculta */
}