table{
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th{
    background-color: azure;
}
tr:nth-child(even) {
    background-color: bisque;
}
tr:hover {
    background-color: black;
}